
<h2>ジャンル編集</h2>
<%= form_with model:@genre, url:admin_genre_path(@genre.id),local:true do |f| %>

<div class="form-group">
  <label for="name">ジャンル名</label>
  <%= f.text_field :name %>
  <%= f.submit '更新' %>
  <%= link_to "削除する", admin_genre_path(@genre), class: "btn btn-danger" , method: :delete %></td>
</div>
<% end %> 
