<h1>企業のあゆみ</h1>
<dl>
    <dt>19××年11月</dt>
    <dd>
        <h2>会社設立</h2>
        <p>会社について</p>
    </dd>
    <dt>19××年4月</dt>
    <dd>
        <h2>観光事業に力を入れる。</h2>
        <p>旅行事業活性化に努める</p>
    </dd>
    <dt>20××年4月</dt>
    <dd>
        <h2>世界遺産ホームページ立ち上げ</h2>
        <p>世界遺産についておおくの方々に知ってもらい、歴史・伝統について知ってもらう</p>
    </dd>
    <dt>20××年4月</dt>
    <dd>
        <h2>子会社〇〇を設立</h2>
        <p></p>
    </dd><dt>2008年4月</dt>
    <dd>
</dl>