<h1>会社概要</h1>

<h2>日本の良さを多くの方に</h2>

<h2>事業内容</h2>
<p>日本の良さを世界に広める為のサイトを作成しました。</p>




<h2>CONTENTS</h2>
 <%= link_to "企業のあゆみ", user_companies_history_path %>
 <%= link_to "企業概要", user_companies_overview_path %>
 <%= link_to "問い合わせ", user_companies_inquiry_path %>