<h1>世界遺産詳細</h1>


            <%= attachment_image_tag @helitage, :image, :fill, 400, 400 %>

           
<!--        <div class="visit">-->
<!--            訪問日</%= @record.record_date.strftime('%Y/%m/%d') %></br>-->
<!--            <h4><i class="far fa-hand-point-down"></i></%= @record.title %></h4>-->
<!--        </div>-->
        
<!--        <div class= "row">-->
<!--             <div class="col-md-7 offset-md-0">-->
<!--                %=safe_join(@record.body.split("\n"),tag(:br))%>-->
<!--            </div>-->
<!--             <div class="col-md-5 offset-md-0">-->
<!--                 <table class="info">-->
<!--                     <th><h5><i class="far fa-question-circle">Infomation</i></h5></th>-->
                    
<!--                    <tr>-->
<!--                        <th>都道府県</th>-->
<!--                        <td>%= @record.prefecture.name %></td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                        <th>ジャンル</th>-->
<!--                        <td>%= @record.genre.name %></td>-->
<!--                    </tr>-->
    
<!--                    <tr>-->
<!--                        <th>予算</th>-->
<!--                        <td>¥%= @record.price %></td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                        <th>住所</th>-->
<!--                        <td>%= @record.address %></td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                        <th>メンバー</th>-->
                        <!--<td>%= @record.member %></td>-->
<!--                    </tr>-->
<!--                </table>-->
<!--            </div>-->
            <!--%= link_to "編集する", edit_record_path(@record), class: "btn btn-danger" %-->
<!--        </div>-->
        
<!--    </div>-->
<!--</div>-->