// Place all the styles related to the helitages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top_image{
  height: 600px;
  width: 100%;
  margin: 15px;
  background-image: image-url('fuji.jpg');
  background-size: cover;
  background-position: 0px 60%;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  padding-top: 180px;
  color: #ffffff;
  font-family: 'Zapfino',serif;
}