<h2>世界遺産とは</h2>
<p>
    世界遺産とは、地球の生成と人類の歴史によって生み出され、過去から現在へと引き継がれてきたかけがえのない宝物です。</li>
    現在を生きる世界中の人びとが過去から引継ぎ、未来へと伝えていかなければならない人類共通の遺産です。</li>

    1972年の第17回UNESCO総会で採択された世界遺産条約（正式には『世界の文化遺産及び自然遺産の保護に関する条約』）の中で定義されています。</li>
    世界遺産は1092件（文化遺産845件、自然遺産209件、複合遺産38件）、条約締約国は193カ国(2018年12月 調べ)です。</li>
</p>

<div class="helitage_kind">
    <div id="sec">
      <ul>
        <li>
          <span class="fa fa-code"></span>
          <p class="title01">文化遺産</p>
          <p>顕著な普遍的価値を有する、記念物、建造物群、遺跡、文化的景観など。</p>
        </li>

        <li>
          <span class="fa fa-code"></span>
          <p class="title01">自然遺産</p>
          <p>顕著な普遍的価値を有する、地形や地質、生態系、絶滅のおそれのある動植物の生息・生育地など</p>
        </li>
        <li>
          <span class="fa fa-code"></span>

          <p class="title01">複合遺産</p>
          <p>文化遺産と自然遺産の両方の価値を兼ね備えているもの</p>
        </li>
      </ul>
    </div>
</div>

<ul class="sample1">
    <h2>世界遺産の登録基準</h2>
        <ul>
            <li>(i)人間の創造的才能を表す傑作である。
            <li>(ii)建築、科学技術、記念碑、都市計画、景観設計の発展に重要な影響を与えた、ある期間にわたる価値観の交流又はある文化圏内での価値観の交流を示すものである。</li>
            <li>(iii)現存するか消滅しているかにかかわらず、ある文化的伝統又は文明の存在を伝承する物証として無二の存在(少なくとも希有な存在)である。</li>
            <li>(iv)歴史上の重要な段階を物語る建築物、その集合体、科学技術の集合体、あるいは景観を代表する顕著な見本である。</li>
            <li>(v)あるひとつの文化(または複数の文化)を特徴づけるような伝統的居住形態若しくは陸上・海上の土地利用形態を代表する顕著な見本である。又は、人類と環境とのふれあいを代表する顕著な見本である(特に不可逆的な変化によりその存続が危ぶまれているもの)</li>
            <li>(vi)顕著な普遍的価値を有する出来事(行事)、生きた伝統、思想、信仰、芸術的作品、あるいは文学的作品と直接または実質的関連がある(この基準は他の基準とあわせて用いられることが望ましい)。</li>
            <li>(vii)最上級の自然現象、又は、類まれな自然美・美的価値を有する地域を包含する。</li>
            <li>(viii)進化の記録や、地形形成における重要な進行中の地質学的過程、あるいは重要な地形学的又は自然地理学的特徴といった、地球の歴史の主要な段階を代表する顕著な見本である。</li>
            <li>(ix)陸上・淡水域・沿岸・海洋の生態系や動植物群集の進化、発展において、重要な進行中の生態学的過程又は生物学的過程を代表する顕著な見本である。</li>
            <li>(x)学術上又は保全上顕著な普遍的価値を有する絶滅のおそれのある種の生息地など、生物多様性の生息域内保全にとって最も重要な自然の生息地を包含する。</li>
        </ul>
    </h2>